{% extends "base.html" %} {% block title %}Real-Time Detection{% endblock %} {%
block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/detect.css') }}"
/>
{% endblock %} {% block content %}
<h2 class="page-title">🔴 Real Time Detection</h2>

<div class="webcam-container">
  <img
    src="{{ url_for('video_feed') }}"
    alt="Live Detection Feed"
    width="720"
  />
</div>

<div class="alert-box" id="result-box">
  <h4>🟢 Detection Status</h4>
  <p>This video is being scanned every 8 seconds using YOLOv8</p>
</div>
{% endblock %}
