{% extends "auth_base.html" %}
{% block title %}Welcome | Kulinda Shamba{% endblock %}
{% block content %}
<div class="splash-bg-cover">
  <div class="overlay-content fade-in">
    <h1 class="splash-title">Kulinda Shamba</h1>
    <div class="button-group">
      <a href="/login" class="splash-button">Sign In</a>
      <a href="/signup" class="splash-button">Signup</a>
    </div>
    <p class="terms-text">By signing up, you have agreed to the<br>terms and conditions of our policies</p>
  </div>
</div>
{% endblock %}
